{% extends 'base1.html' %}
{% block main %}
{% load static %}
<div class="container" style="margin-top:50px">
    <div>
        Total - {{out_count}}
    </div>
</div>

<div class="container" style="margin-top:50px">
    <div class="row">
        <div>
            <table class="table">
                <tr>
                    <th>Emp ID</th>
                    <th>Emp Name</th>
                    <th>Out Date</th>
                    <th>IT Name</th>
                    <th>Campaign</th>
                    <th>PC / Laptop</th>
                    <th>System Name</th>
                    <th>System Serial No</th>
                    <th>HD Serial</th>
                    <th>Ram</th>
                    <th>Headset</th>
                    <th>Headset Serial</th>
                    <th>Monitor</th>
                </tr>
                {% for o in out %}
                <tr>
                    <td>{{o.emp_id}}</td>
                    <td>{{o.emp_name}}</td>
                    <td>{{o.date}}</td>
                    <td>{{o.it_name}}</td>
                    <td>{{o.campaign}}</td>
                    <td>{{o.pc_laptop}}</td>
                    <td>{{o.system_name}}</td>
                    <td>{{o.system_serial}}</td>
                    <td>{{o.hard_disc_serial}}</td>
                    <td>{{o.ram}}</td>
                    <td>{{o.headset}}</td>
                    <td>{{o.headset_serial}}</td>
                    <td>{{o.monitor}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
