{% extends 'base1.html' %}
{% block main %}
{% load static %}

<div class="container-lg" style="margin-top:100px">
    <h2>Agent return</h2>
    <div class="row">
        <div class="col-md-4">

                <form action="/return-from-agent" method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                    <label for="">Serial NO</label>
                    <input type="text" name="serial_no" class="form-control" style="width: 300px" required>
                    <label for="">Emp_id</label>
                    <input type="text" name="emp_id" class="form-control" style="width: 300px" required>
                    <br>
                    <button type="submit" class="btn btn-primary" value="search">Search</button>
                </form>

        </div>
        <div class="col-md-1">

        </div>
        <div class="col-md-6">
            <div>
                <h3>Item Details</h3>

                {% for i in item %}
                {% if i.return_status == False %}
                <div style="    border: 1px solid;padding: 10px;background: #fdfcf6;width: 348px;margin-left: 30px; margin: 20px 20px">

                    <p>Date Assigned - {{i.date}}</p>
                    <p>Item - {{i.item}}</p>
                    <p>Serial No - {{i.item_serial}}</p>
                    <p>Emp-ID - {{i.emp_id}}</p>
                    <p>Emp Name - {{i.emp_name}}</p>
                    <form action="/return-submit" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{i.item_serial}}" name="serial_no" class="form-control">

                        <input type="hidden" value="{{i.emp_id}}" name="emp_id" class="form-control">
                        <input type="text" value="{{i.item}}" name="item" class="form-control">

                        <button type="submit" class="btn btn-primary" value="search">Return</button>

                    </form>

                </div>
                {% else %}
                {% endif %}
                {% endfor %}
            </div>
        </div>


    </div>
</div>

<div class="container-lg" style="margin-top:50px">
    <div class="row">
        {% for m in messages %}
            {{m}}
        {% endfor %}
    </div>
</div>


{% endblock %}


