{% extends 'base1.html' %}
{% block main %}
{% load static %}

<div class="container-lg" style="margin-top:100px;margin-bottom:100px;">
    <h2>Assign Item</h2>
       <div class="row">

           <div class="col-md-3">

               <form action="/assign-inv-cpu/{{cpu_obj.item_id}},{{cpu_obj.id}}" method="POST" enctype="multipart/form-data">
                   {% csrf_token %}


                   <br>
                    <label for="">Date</label>
                   <input type="date" name="date" class="form-control">
                   <label for="">Policy Number</label>
                   <input type="text" name="policy_no" class="form-control">
                   <label for="">IT Name</label>
                   <input type="text" name="it_name" class="form-control" value="{{user.profile.emp_name}}" readonly>

                   <label for="">Emp Name</label>
                   <input type="text" name="emp_name" class="form-control">
                    <label for="">Emp ID</label>
                   <input type="text" name="emp_id" class="form-control">

                   <label for="">Mobile No</label>
                   <input type="text" name="mobile_no" class="form-control">

                   <label for="">Campaign</label>
                   <input type="text" name="campaign" class="form-control">
                   <br>
                   <hr>
                   <label for="">Serial NO</label>
                   <input type="text" name="serial_no" value="{{cpu_obj.serial_no}}" class="form-control" readonly>
                   <label for="">Item</label>
                   <input type="text" value="{{cpu_obj.item_name}}" class="form-control" readonly>

                   <input type="hidden" value="{{cpu_obj.item_name}}" name="item">

                   <br>
                   <button type="submit" class="btn btn-primary" value="Submit">Submit</button>

               </form>
           </div>
       </div>
</div>
{% endblock %}
