{% extends 'base1.html' %}
{% block main %}
{% load static %}

<div>
    {% for m in messages %}
        <p style="color: green;font-size: 20px;margin-left: 40%;margin-top: 50px">{{m}}</p>
    {% endfor %}
</div>

<div class="container" style="margin-top:100px">
    <div class="row">
        <div class="col-md-3">
            <h6 style="text-align: end;margin-top: 15%;font-style: italic;">Select Shift</h6>
        </div>
        <div class="col-md-2">
            <form action="/data-collection/US" method="POST" enctype="multipart/form-data">
                {% load crispy_forms_tags %}
                {% csrf_token %}
                <button type="submit" class="btn btn-info" value="Submit" style="width: 155px;height: 100px;background: chocolate;border: none">US</button>
            </form>
        </div>
        <div class="col-md-2">
            <form action="/data-collection/UK" method="POST" enctype="multipart/form-data">
                {% load crispy_forms_tags %}
                {% csrf_token %}
                <button type="submit" class="btn btn-info" value="Submit" style="width: 155px;height: 100px;background: #455a64;border: none">UK</button>
            </form>
        </div>
        <div class="col-md-2">
            <form action="/data-collection/Domestic" method="POST" enctype="multipart/form-data">
                {% load crispy_forms_tags %}
                {% csrf_token %}
                <button type="submit" class="btn btn-info" value="Submit" style="width: 155px;height: 100px;background: #00695c;border: none">Domestic</button>
            </form>
        </div>
        <div class="col-md-3">

        </div>

    </div>
</div>

<div class="container-fluid" style="margin-top:100px">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p class="text-center"><i><a href="view-emp-data" style="color: brown;font-size: 20px;font-weight: bold;text-decoration: none;">View Report</a></i></p>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<div class="container" style="margin-top: 100px;margin-bottom:100px;">
    <div class="row">
        <div class="col-md-6">
            <h4>Completed List</h4>
            <br>
            <div>
                <form action="view-emp-details" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <select name="emp_id" id="">
                    {% for e in employees %}
                    <option value="{{e.emp_id}}">{{e.emp_name}} - {{e.emp_id}}</option>
                    {% endfor %}
                </select>   
                <button class="btn btn-primary">Edit</button> 
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <div>
                <h4>Export Employee Report</h4>
                <div>
                    <form action="/export-data" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <br>
                        <button class="btn btn-primary">Export</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}