{% extends 'base1.html' %}
{% block main %}
{% load static %}
<div class="container-lg" style="margin-top:100px;margin-bottom:100px;">
        <h2>Inv Report</h2>
    <br>
    <div>
        <div class="row">
            <div class="col-md-6">
                <form action="/inv-report/{{id}}" method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                    <label for="">Serial NO</label>
                    <input type="text" name="serial_no" class="form-control" style="width: 300px">
                    <br>
                    <button type="submit" class="btn btn-primary" value="search">Search</button>
                </form>
            </div>
            <div class="col-md-4">

                <h2><a href="/cpu-view-detail/{{cpu_obj.id}}">{{cpu_obj.serial_no}}</a></h2>
                {% for m in messages %}
                        <h2>{{m}}</h2>
                {% endfor %}

            </div>
        </div>
    </div>
</div>


<div class="container-lg" style="margin-top:100px;margin-bottom:100px;">

       <div class="row">
        <table class="table">
            <tr>
                <th>Item</th>
                <th>Serial NO</th>
                <th>status</th>


            </tr>
            <tr>
                <td>{{cpu.item_name}}</td>
                <td>{{cpu.serial_no}}</td>
                {% if cpu.in_stock == True %}
                <td>In Stock</td>
                {% elif cpu.assigned == True %}

                {% elif cpu.service == True %}
                <td>{{cpu.emp_id}}</td>
                <td>Service</td>
                {% elif cpu.out == True %}
                <td>Returned to Vendor</td>
                {% else %}
                <td>NA</td>
                {% endif %}


                {% if cpu.in_stock == True %}
                <td><a href="/assign-inv-cpu/{{cpu.item_id}},{{cpu.id}}">Assign to Employee</a></td>
                <td><a href="/service-inv-cpu/{{cpu.item_id}},{{cpu.id}}">Service</a></td>
                <td><a href="/return-inv-cpu/{{cpu.id}}">Return to Vendor</a></td>
                {% endif %}
                {% if cpu.service == True %}
                <td><a href="/return-from-service/{{cpu.id}}">Add to stock</a></td>
                {% endif %}
            </tr>
            {% for cpu in cpu_obj_all %}
            <tr>
                <td>{{cpu.item_name}}</td>
                <td>{{cpu.serial_no}}</td>
                {% if cpu.in_stock == True %}
                <td>In Stock</td>
                {% elif cpu.assigned == True %}
                <td>Assigned</td>

                {% elif cpu.service == True %}
                <td>Service</td>
                 {% elif cpu.out == True %}
                <td>Returned to Vendor</td>
                {% else %}
                <td>NA</td>
                {% endif %}

                {% if cpu.in_stock == True %}
                <td>

                    <a href="/assign-inv-cpu/{{cpu.item_id}},{{cpu.id}}">Assign to Employee</a>

                </td>

                <td><a href="/service-inv-cpu/{{cpu.item_id}},{{cpu.id}}">Service</a></td>
                <td><a href="/return-inv-cpu/{{cpu.id}}">Return to Vendor</a></td>
                {% endif %}
                {% if cpu.service == True %}
                <td><a href="/return-from-service/{{cpu.id}}">Add to stock</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>

       </div>
</div>


{% endblock %}
