{% extends 'base1.html' %}
{% block main %}
{% load static %}


<div class="container" style="margin-top:50px">
    <div class="row">
        <div class="col-md-6">
            <form action="/employee-detailed-view" method="POST" enctype="multipart/form-data">
                {% load crispy_forms_tags %}
                {% csrf_token %}
                <label for="" class="form-control">Select Employee</label>
                <select name="id" id="" class="form-control">
                   {% for e in employees %}
                    <option value="{{e.id}}" class="form-control">{{e.emp_name}}-{{e.emp_id}}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit" class="btn btn-info" value="Submit">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-4" style="background: #ffcdd2;padding: 10px 10px;box-shadow: 1px 1px 10px grey;">
                    <p>Information Pending</p>
                    <h2>{{employees_count}}</h2>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4" style="background: #e8f5e9;padding: 10px 10px;box-shadow: 1px 1px 10px grey;">
                    <p>Information Collected</p>
                    <h2>{{em_done_count}}</h2>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-lg" style="margin-top:50px">
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <table class="table" style="background:#f5f5f5;">
                {% for e in emp_wise %}
                <tr>
                    <td>{{e.called_by}}</td>
                    <td>{{e.dcount}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>
</div>

{% endblock %}