{% extends 'base1.html' %}
{% block main %}
{% load static %}

<div class="container-lg" style="margin-top:100px;margin-bottom:100px;">
    <h2>Return CPU</h2>
       <div class="row">

           <div class="col-md-12">

               <form action="/return-inv-cpu/{{cpu_obj.id}}" method="POST" enctype="multipart/form-data">
                   {% csrf_token %}
                    <div class="row">
                   <div class="col-md-6">
                   <br>
                    <label for="">Date</label>
                   <input type="date" name="date" class="form-control">

                   <label for="">IT Name</label>
                   <input type="text" name="it_name" class="form-control" value="{{user.profile.emp_name}}" readonly>
                   <label for="">Vendor</label>
                       <input type="text" value="{{cpu_obj.vendor}}" readonly class="form-control" name="vendor">

                   <label for="">Description</label>
                   <textarea name="desc" id="" cols="30" rows="5" class="form-control"></textarea>
                    </div>
                   <div class="col-md-2">

                   </div>
                   <div class="col-md-3">

                   <label for="">Serial NO</label>
                   <input type="text" name="serial_no" value="{{cpu_obj.serial_no}}" class="form-control" readonly>
                   <label for="">Make</label>
                   <input type="text" value="{{cpu_obj.make}}" class="form-control" readonly>
                   <label for="">Model</label>
                   <input type="text" value="{{cpu_obj.model}}" class="form-control" readonly>
                   <label for="">ECPL Tag Name</label>
                   <input type="text" value="{{cpu_obj.ecpl_tag_name}}" class="form-control" readonly>
                   <label for="">Ram</label>
                   <input type="text" value="{{cpu_obj.ram}}" class="form-control" readonly>
                   <label for="">Processor</label>
                   <input type="text" value="{{cpu_obj.processor}}" class="form-control" readonly>
                   <input type="hidden" value="cpu" name="item">
                   <br>
                   <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                    </div>
                        </div>
               </form>
           </div>
       </div>
</div>
{% endblock %}
