{% extends 'base.html' %}
{% block main %}
{% load static %}

<div class="container-lg" style="margin-top:100px;">
             <div class="col-md-4">
                {% load crispy_forms_tags %}
                <div class="signupform">
                    <h2 class="form-header">Register Employee</h2>
                    <form class="login-form" action="/signup" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    {{profile_form|crispy}}
                    <input class="btn btn-info" type="submit" value="Signup">
                    </form>
                </div>
            </div>
</div>
{% endblock %}